@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
  background: #e2e1e0;
  margin: 0 auto;
  padding: 12vmin 10vmin;
  max-width: 50em;
  line-height: 1.5em;
  font-family: 'PT Sans';
  word-wrap: break-word;
}

#id-card {
  display: inline-block;
  float: left;
  margin-right: 2em;
}

.id-card {
  width: 336px;
  height: 192px;
  background: #ffffff;
  padding: 10px;
  position: relative;
  
  &__mugshot {
    position: absolute;
    right: 10px;
    
    width: 100px;
    height: 100px;
    border-left: 4px solid red;
    background: #ffffff;
    
    img {
      width: 100px;
      height: 100px;
    }
  }
  
  &__logo {
    width: 200px;
  }
  
  &__subject-id {
    position: absolute;
    top: 54px;
    left: 130px;
    
    font-family: monospace;
    font-size: 14pt;
    transform: rotate(-4deg);
  }
  
  &__banner {
    height: 10pt;
    background: red;
    margin-top: 10px;
    margin-left: -10px;
    padding-left: 12px;
  }
  
  &__banner-text {
    color: #ffffff;
    font-size: 8pt;
    letter-spacing: 2px;
    line-height: 0;
    position: relative;
    top: -6px;
  }
  
  &__details {
    padding-top: 20px;
    font-size: 6pt;
    line-height: 1.5;
    text-transform: uppercase;
    width: 60%;
    display: inline-block;
    
    &--short {
      float: right;
      margin-left: 30px;
      width: 100px;
    }
  }
  
  &__detail {
    height: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    & + & {
      border-top: 1px solid #eeee;
    }
  }
  
  &__detail-label {
    color: #333;
    font-weight: bold;
    
    &:after {
      content: ' • ';
      font-weight: normal;
    }
  }
}

.logo {
  &__big {
    font-size: 24pt;
    font-weight: bold;
    line-height: 1.3;
    letter-spacing: 4px;
  }
  
  &__small {
    font-size: 10pt;
    letter-spacing: 4px;
    position: relative;
    top: -10px;
    left: 2px;
  }
}


.id-form {
  
  &__row {
    padding-bottom: 8px;
    
    &--inline {
      width: 10em;
      padding-right: 1em;
      padding-bottom: 1em;
      display: inline-block;
    }
  }
  
  &__label {
    font-size: 8pt;
    line-height: 8pt;
  }
  
  &__input {
  }
}

.material-ui-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.material-ui-shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}